<div class="container">
<h1><%= @task.title %></h1>

<%= link_to 'Edit task', edit_task_path(@task)  %>

<div class="alert alert-secondary" role="alert">
  <%= @task.details %>
</div>

<p>
  <% if @task.completed %>
    <i class="far fa-check-square"></i> This task is completed
  <% else %>
    <i class="far fa-square"></i> This task is not yet completed
  <% end %>
</p>
<hr>
<%= link_to 'Back, you fiend', tasks_path %>
</div>
